<div class="container">
  <!-- Logo -->
  <div class="logo-wrapper">
      <a class="logo" href="index.html"> <img src="../img/logo.png" class="logo-img" alt=""> </a>
      <!-- <a class="logo" href="index.html"> <h2>BAUEN</h2> </a> -->
  </div>
  <!-- Button -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
  <!-- Menu -->
  <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="../components/index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="../components/about.html">About</a></li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i class="ti-angle-down"></i></a>
              <ul class="dropdown-menu">
                  <li><a href="../components/services.html" class="dropdown-item"><span>Services 1</span></a></li>
                  <li><a href="../components/services2.html" class="dropdown-item"><span>Services 2</span></a></li>
                  <li><a href="../components/services3.html" class="dropdown-item"><span>Services 3</span></a></li>
                  <li><a href="../components/services4.html" class="dropdown-item"><span>Services 4</span></a></li>
              </ul>
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Projects <i class="ti-angle-down"></i></a>
              <ul class="dropdown-menu">
                  <li><a href="../components/projects.html" class="dropdown-item"><span>Projects 1</span></a></li>
                  <li><a href="../components/projects2.html" class="dropdown-item"><span>Projects 2</span></a></li>
                  <li><a href="../components/projects3.html" class="dropdown-item"><span>Projects 3</span></a></li>
                  <li><a href="../components/projects4.html" class="dropdown-item"><span>Projects 4</span></a></li>
                  <li><a href="../components/project-gallery.html" class="dropdown-item"><span>Project Gallery</span></a></li>
                  <li><a href="../components/project-page.html" class="dropdown-item"><span>Project Page</span></a></li>
              </ul>
          </li>
          <li class="nav-item dropdown"> <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Pages <i class="ti-angle-down"></i></a>
              <ul class="dropdown-menu">
                  <li><a href="../components/kenburns-slider.html" class="dropdown-item"><span>Kenburns Slider</span></a></li>
                  <li><a href="../components/grid-background.html" class="dropdown-item"><span>Grid Background</span></a></li>
                  <li><a href="../video.html" class="dropdown-item active"><span>Video Background</span></a></li>
                  <li><a href="../components/before-after.html" class="dropdown-item"><span>Before After</span></a></li>
                  <li><a href="../components/pricing.html" class="dropdown-item"><span>Pricing</span></a></li>
                  <li><a href="../components/team.html" class="dropdown-item"><span>Team</span></a></li>
                  <li><a href="../components/careers.html" class="dropdown-item"><span>Careers</span></a></li>
                  <li><a href="../components/gallery.html" class="dropdown-item"><span>Gallery</span></a></li>
                  <li><a href="../components/video-gallery.html" class="dropdown-item"><span>Video Gallery</span></a></li>
                  <li><a href="../components/process.html" class="dropdown-item"><span>Process</span></a></li>
                  <li><a href="../components/parallax-home.html" class="dropdown-item"><span>Parallax Home</span></a></li>
                  <li class="dropdown-submenu dropdown"> <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" href="#"><span>Other Pages <i class="ti-angle-right"></i></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="../components/testimonials.html" class="dropdown-item"><span>Testimonials</span></a></li>
                          <li><a href="../components/faqs.html" class="dropdown-item"><span>Faqs</span></a></li>
                          <li><a href="../components/404.html" class="dropdown-item"><span>404 Page</span></a></li>
                          <li><a href="coming-soon.html" class="dropdown-item"><span>Coming Soon</span></a></li>
                      </ul>
                  </li>
              </ul> 
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Blog <i class="ti-angle-down"></i></a>
              <ul class="dropdown-menu">
                  <li><a href="../components/blog.html" class="dropdown-item"><span>Blog 1</span></a></li>
                  <li><a href="../components/blog2.html" class="dropdown-item"><span>Blog 2</span></a></li>
                  <li><a href="../components/blog3.html" class="dropdown-item"><span>Blog 3</span></a></li>
                  <li><a href="../components/blog4.html" class="dropdown-item"><span>Blog 4</span></a></li>
              </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="../components/contact.html">Contact</a></li>
      </ul>
  </div>
</div>